<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title sec:authentication="name"></title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<div sec:authorize="hasRole('ROLE_USER')">
    This content is only shown to users.
</div>
Logged user: <span sec:authentication="name">Bob</span>

<p th:text="${crew}"/>

</body>

</html>